.addEmployees .employeeList {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
}

.addEmployees .employeeList div {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}

#heading1{
    border: 1px solid black;
    width: 400px;
    color: white;
    background-color: blue;
}

.input-control{
    margin-top: 25px;
}

input{
    height: 25px;
    width: 400px;
}

.add{
    margin-top: 40px;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid orange;
    background-color: blue;
    color: white;
}

.add:hover{
  background-color: beige;
  
}





