

#heading2{
    border: 1px solid black;
    width: 400px;
    color: white;
    background-color: blue;
}

thead{
    background-color: rgb(199, 194, 194);
    
}

.employeeList{
    overflow-y: scroll;
    height: 280px;
}

.del img{
    width: 15px;
}
.del{
    width: 40px;
}

.edit{
    width:40px ;
}

.edit img{
    height: 15px;
}