*{
    margin: 0;
    padding: 0;
   
}

.home{
    margin-top: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;  
    background-color: antiquewhite;
    margin-left: 300px;
    margin-right: 300px;
}

.add{
    cursor: pointer;
}

.edit{
    cursor: pointer;
}

.del{
    cursor: pointer;
}