*{
    margin: 0;
    padding: 0;
   
}

.home{
    margin-top: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;  
    background-color: beige;
    margin-left: 300px;
    margin-right: 300px;
    border: 6px solid blue;
    border-radius: 20px;
}

.add{
    cursor: pointer;
}

.edit{
    cursor: pointer;
    background-color: green;
    color: white;
}

.del{
    cursor: pointer;
    background-color: red;
    color: white;
}